@*@model WMCbizWeb.Models.WMCUser*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WISDOM MANAGEMENT CONSULTANCY</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
   
</head>
<body>
    <div class="row m-0">
        <div class="navbar navbar-expand-lg navbar-dark thead-dark w-100  fixed-top text-white" style="height:25px;background-color:#00000f">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <span>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    info@wmcbiz.com
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <span class="text-info">
                    <i class="fa fa-registered" aria-hidden="true"></i>
                    CIN : U74900DL2011PTC219663
                </span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-right">
                <span>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    +91-8178726022/7275278701
                </span>
             
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            @Html.Partial("_MenuView")
        </div>
    </div>

    <div class="row mt-4">
        @RenderBody()
    </div>
    <div class="row">
        @Html.Partial("_FooterView")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>*@

</body>
</html>
<script type="text/javascript">
    if('@TempData["qUERYmESSAGE"]' != '')
    {
        alert('@TempData["qUERYmESSAGE"]')
    }
</script>