<nav class="navbar navbar-expand-lg navbar-inverse navbar-dark bg-dark fixed-top mt-4">
    <a class="navbar-brand text-white" href="/hOME/Index">WMC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Start A business
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 700px;min-height:300px;max-height:400px; overflow:scroll;padding: 5px; position:absolute;">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left;">
                            <ul class="list-group">
                                <li class="list-group-item">@Html.ActionLink("Partnership Firm", "Partnership_Firm", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Sole Proprietorship", "Sole_Proprietorship", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Limited Liability Partnership", "Limited_Liability", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Private Limited Company", "Private_Limited_Company", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Public Limited Company", "Public_Limited_Company", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Non Profit Organization", "Non_Profit_Organization", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left;">
                            <ul class="list-group">
                                <li class="list-group-item">@Html.ActionLink("Society", "Society", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("trust", "Trust", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Wholly Owned Foreign Subsidiary", "Wholly_Owned_Foreign_Subsidiary", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Nidhi Company", "Nidhi_Company", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Liaison Office", "Liaison_Office", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:left;">
                            <ul class="list-group">
                                <li class="list-group-item">@Html.ActionLink("Section 8 Company", "Section8_Company_with_Nonprofit_objects", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                            </ul>
                            <hr />
                            <ul class="list-group">
                                <li class="list-group-item">@Html.ActionLink("Branch Office", "Branch_Office", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Project Office", "Project_Office", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Compliances
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 700px;min-height:300px;max-height:400px; overflow:scroll;padding: 5px; position:absolute;">
                    <div class="row dropleft" style="margin-right:5px;">
                        <div class="col-lg-4 col-md-4 col-sm-12" style="text-align:left;">
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("Appointment Of Director", "AppointmentOfDirector", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Resignation Of Director", "ResignationOfDirector", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Removal Of Director", "RemovalOfdirector", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Appointment Of Auditor", "AppointmentOfAuditor", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Resignation Of Auditor", "ResignationOfAuditor", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Alteration Of Share Capital", "AlterationOfShareCapital", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>

                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="text-align:left;">
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("Name Change", "NameChange", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Change Of Registered Office", "ChangeOfregisteredOffice", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Object Change", "ObjectChange", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Alteration Of AOA", "AlterationOfAOA", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Compounding Of Offence", "CompoundingOfOffence", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("DIN Application", "DINApplication", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                            </ul>

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12" style="text-align:left;">
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("INC22A", "INC22A", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Filling Of Annual Return", "FillingOfAnnualReturn", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Share Transfer", "ShareTransfer", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("FTE Company strike Off", "FTE_CompanystrikeOff", "CorporateCompliance", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Merger & Acquisition", "MERGERS_ACQUISITIONS", "Compliances", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("FEMA & RBI Services", "FEMARBI_SERVICES", "Compliances", null, new { @class = "list-group-item-action" })</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Registration
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 500px; height:auto; overflow: hidden;position:absolute;padding: 10px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:left;">
                            <ul class="list-group">
                                <li class="list-group-item">@Html.ActionLink("FSSAI Registration", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("IEC Code Licence", "IEC", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("MSME Registration", "MSME", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("ESI Registration", "ESI", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("PF Registration", "PF_Registration", "Registration", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("GST Registration", "Sole_Proprietorship", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:left;">
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("TAN", "TAN", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("PAN", "PAN", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Registration Under Shop & Establishment", "Registration_Under", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Product Registration", "Product_Registration", "Registration", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                                @*<li class="list-group-item">@Html.ActionLink("Factories Registration", "Factories_Registration", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                                @*<li class="list-group-item">@Html.ActionLink("", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trademark
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 300px; overflow: hidden;position:absolute;padding: 10px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("Trademark Registration", "Registration", "Trademark", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Trademark Objection", "TrademarkObjection", "Trademark", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Trademark Renewal", "TrademarkRenewal", "Trademark", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("Trademark Renewal", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                            </ul>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Taxation
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width:250px;min-height:300px;max-height:400px; overflow: scroll;position:absolute;padding: 10px;">
                    <div class="row">
                        @*<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:left;">*@
                        <ul class="list-group border-0">
                            <li class="list-group-item">@Html.ActionLink("Income Tax", "INCOME_TAX", "Taxation", null, new { @class = "list-group-item-action" })</li>
                            <li class="list-group-item">@Html.ActionLink("Computation", "Computation", "Taxation", null, new { @class = "list-group-item-action" })</li>
                            <li class="list-group-item">@Html.ActionLink("Filing of Return of income", "FilingOf_ReturnsOf_Income", "Taxation", null, new { @class = "list-group-item-action" })</li>
                            <li class="list-group-item">@Html.ActionLink("Filing of Appeals", "FilingOfAppeals", "Taxation", null, new { @class = "list-group-item-action" })</li>
                            <li class="list-group-item">@Html.ActionLink("Claiming Refunds", "ClaimingRefunds", "Taxation", null, new { @class = "list-group-item-action" })</li>
                            <li class="list-group-item">@Html.ActionLink("Tax Planning", "TaxPlanning", "Taxation", null, new { @class = "list-group-item-action" })</li>
                        </ul>
                        @*</div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align:left;">
                        <ul class="list-group border-0">
                            <li class="list-group-item">@Html.ActionLink("Tax Management", "TaxManagement", "Taxation", null, new { @class = "list-group-item-action" })</li>
                            <li class="list-group-item">@Html.ActionLink("Availing Tax", "AvailingTax", "Taxation", null, new { @class = "list-group-item-action" })</li>
                            <li class="list-group-item">@Html.ActionLink("Concessions", "Concessions", "Taxation", null, new { @class = "list-group-item-action" })</li>
                        </ul>
                    </div>*@
                    </div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GST
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 300px; overflow: hidden;position:absolute;padding: 10px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("GST Registration", "GST_Registration", "Accounting_Services", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("GST Return ", "GST_Return", "Accounting_Services", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("Trademark Renewal", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>
                            <li class="list-group-item">@Html.ActionLink("Trademark Renewal", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                            </ul>
                        </div>
                    </div>

                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../BlogMaster/Index">Blog</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../Contact/Contact">Contact</a>
            </li>
        </ul>

    </div>
    <div class="clearfix"></div>
</nav>
<div class="clearfix"></div>

