<nav class="navbar navbar-expand-lg navbar-inverse navbar-dark bg-dark fixed-top mt-4">
    @*class="navbar navbar-expand-lg navbar-light bg-light progress-bar-animated fixed-top"*@
    <a class="navbar-brand text-white" href="/hOME/Index">WMC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Start A business
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 500px; overflow: hidden;padding: 10px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:left;">
                            <ul class="list-group">
                                <li class="list-group-item">@Html.ActionLink("Partnership Firm", "Partnership_Firm", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Sole-proprietorship", "Sole_Proprietorship", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Limited-Liability Partnership", "Limited_Liability", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Private Limited Company", "Private_Limited_Company", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Public Limited Company", "Public_Limited_Company", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Non-Profit Organization", "Non_Profit_Organization", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Society", "Society", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("trust", "Trust", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("Sole-proprietorship", "Sole_Proprietorship", "StartUpBusiness", null, new { @class = "list-group-item-action" })</li>*@
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:left;">
                            <ul class="list-group">
                                <li class="list-group-item">@Html.ActionLink("Section8 Company With Nonprofit Objects", "Section8_Company_with_Nonprofit_objects", "StartABusiness", null, new { @class = "list-group-item-action" })</li>
                            </ul>
                            <hr />
                            <ul class="list-group">
                                <li class="list-group-item">@Html.ActionLink("For Foreign Entity", "Sole_Proprietorship", "StartUpBusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Wholly Owned Foreign", "Wholly_Owned_Foreign", "StartUpBusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Joint Venture & Foreign", "Subsidiary", "StartUpBusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Collaboration", "Liaison_Office", "StartUpBusiness", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("Branch Office", "Branch_Office", "StartUpBusiness", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Project Office ", "Project_Office", "StartUpBusiness", null, new { @class = "list-group-item-action" })</li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Registration
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 500px; height:auto; overflow: hidden;padding: 10px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:left;">
                            <ul class="list-group">
                                <li class="list-group-item">@Html.ActionLink("FSSAI Registration", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("IEC Code Licence", "IEC", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("MSME Registration", "MSME", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("ESI Registration", "ESI", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("PF Registration", "PF_Registration", "Registration", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("GST Registration", "Sole_Proprietorship", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:left;">
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("TAN", "TAN", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("PAN", "PAN", "Registration", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Registration Under Shop & Establishment", "Registration_Under", "Registration", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                                <li class="list-group-item">@Html.ActionLink("Factories Registration", "Factories_Registration", "Registration", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trademark
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 300px; overflow: hidden;padding: 10px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("Trademark Registration", "Registration", "Trademark", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Trademark Objection", "TrademarkObjection", "Trademark", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Trademark Renewal", "TrademarkRenewal", "Trademark", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("Trademark Renewal", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                            </ul>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GST
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 300px; overflow: hidden;padding: 10px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("GST_Registration", "GST_Registration", "Accounting_Services", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("GST_Return ", "GST_Return", "Accounting_Services", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("Trademark Renewal", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>
                                    <li class="list-group-item">@Html.ActionLink("Trademark Renewal", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                            </ul>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Taxation
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 300px; overflow: hidden;padding: 10px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("INCOME_TAX", "INCOME_TAX", "Taxation", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Computation", "Computation", "Taxation", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Filing of Returns of income", "FilingOf_ReturnsOf_Income", "Taxation", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Filing of Appeals", "FilingOfAppeals", "Taxation", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Claiming Refunds", "ClaimingRefunds", "Taxation", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Tax Planning", "TaxPlanning", "Taxation", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Tax Management", "TaxManagement", "Taxation", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Availing Tax", "AvailingTax", "Taxation", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("Concessions", "Concessions", "Taxation", null, new { @class = "list-group-item-action" })</li>
                            </ul>
                        </div>
                        @*<div class="col-md-6">
                                <h2>GST</h2>
                                <ul class="list-group border-0">
                                    <li class="list-group-item">@Html.ActionLink("Registration", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>
                                    <li class="list-group-item">@Html.ActionLink("Return", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>
                                </ul>
                            </div>*@
                    </div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Compliances
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown" style="width: 400px; overflow: hidden;padding: 5px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align:left;">
                            @*<h2>GST</h2>*@
                            <ul class="list-group border-0">
                                <li class="list-group-item">@Html.ActionLink("Corporatelaw_Compliance", "Corporatelaw_Compliance", "Compliances", null, new { @class = "list-group-item-action" })</li>
                                @*<li class="list-group-item">@Html.ActionLink("", "FSSAI", "Registration", null, new { @class = "list-group-item-action" })</li>*@
                                <li class="list-group-item">@Html.ActionLink("MERGERS_ACQUISITIONS", "MERGERS_ACQUISITIONS", "Compliances", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("FEMARBI_SERVICES", "FEMARBI_SERVICES", "Compliances", null, new { @class = "list-group-item-action" })</li>
                                <li class="list-group-item">@Html.ActionLink("CERTIFICATIONATTESTATIONSERVICES", "CERTIFICATIONATTESTATIONSERVICES", "Compliances", null, new { @class = "list-group-item-action" })</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Compliances/FEMARBI_SERVICES">Jobs</a>
                <div class="row">
                    <div class="col-md-12"style="text-align:left;">
                        <ul class="list-group border-0">
                            @*<li class="list-group-item">@Html.ActionLink("FEMARBI_SERVICES", "FEMARBI_SERVICES", "Jobs", null, new { @class = "list-group-item-action" })</li>*@
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Compliances/FEMARBI_SERVICES">Contact</a>
                <div class="row">
                    <div class="col-md-12" style="text-align:left;">
                        <ul class="list-group border-0">
                            @*<li class="list-group-item">@Html.ActionLink("Contact", "Contact", "Contact", null, new { @class = "list-group-item-action" })</li>*@
                        </ul>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="clearfix"></div>
</nav>
<div class="clearfix"></div>

